---
import Carousel from "./Carousel.astro";
---

<section
  class="container pt-32 pb-32 px-4 lg:px-0 flex flex-col items-center
[&>p]:text-center [&>p]:text-lg lg:[&>p]:text-xl [&>p]:font-sans [&>p]:max-w-3xl lg:[&>p]:max-w-4xl"
>
  <p class="mb-24">
    Real estate in Tulum is an attractive and secure market that provides
    attractive returns to investors in one of the most in-demand vacation
    destinations in the world. Main drivers that will propel growth in Tulum:
  </p>

  <Carousel />

  <p class="mb-24">
    Real estate in Tulum is an attractive and secure market that provides
    attractive returns to investors in one of the most in-demand vacation
    destinations in the world. Main drivers that will propel growth in Tulum:
  </p>
</section>

<style></style>
